/* Form components */
label {
  font-weight: 600;
}
.form-control {
  border: 1px solid lighten($dark, 12%);
  background-color: lighten($dark, 5%);
  box-shadow: none;
  color: $white;
  font-size: inherit;

  &:focus {
    background: lighten($dark, 7%);
    border-color: lighten($dark, 15%);
    box-shadow: none;
    color: $white;
  }
}

.form-control:disabled, .form-control[readonly] {
  background-color: lighten($dark, 8%);
}

.input-group-addon {
  border-radius: 2px;
  background-color: lighten($dark,8%);
  color: $muted;
  border: 1px solid lighten($dark,15%);
}

textarea.form-control {
  min-height: 90px;
}

select[multiple] {
  height: auto;
}

.input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.form-horizontal {
  .form-group {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.form-control-feedback {
  line-height: 38px !important;
}

.input-group-btn {
  .btn {
    padding: 10px 12px;
  }
  .btn-sm {
    padding: 4px 10px;
  }
  .btn-lg {
    padding: 10px 17px;
  }
}

.has-success {
  .form-control {
    border-color: $success;
    box-shadow: none !important;
  }
}

.has-warning {
  .form-control {
    border-color: $warning;
    box-shadow: none !important;
  }
}

.has-error {
  .form-control {
    border-color: $danger;
    box-shadow: none !important;
  }
}